*{
    box-sizing: border-box;

}
body{
    --main_color: aqua;
    --accent_color: salmon;
    --button_text_color:var(var(--main_color));
    --button-bg-color:var(var(--accent_color));
    --link-text-color:var(--accent_color);
    --transition: 0.3s;
    padding: 0;
  margin: 0;
  background-color: var(--main_color);
  color: var(--accent_color);
  font-family: "Press Start 2P", cursive;
  transition: var(--transition);

}
body.dark {
    --main_color:#000;
    --accent_color:#7af9c3;
    --button_text_color:var(--main_color);
    --button-bg-color:var(--accent_color);
    --link-text-color:var(--accent_color);
    background-color: var(--main_color);
    color: var(--accent_color);
}
.page-wrapper{
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.header {
    padding: 1.5rem 0;
}
.options-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
}
